.caja{
    background-color:  #0000ff;
    position: absolute;
    height:300px; 
    width: 300px;
}

.caja1{
    background-color:   #008000;
    position: relative;
    height:154px; 
    width: 154px;
    top:73px ;
    right: -74px;
}

.caja2{
    background-color:  #000000;
    position: relative;
    height:75px; 
    width: 75px;
    top:-155px ;
    left: -1px;
}